@import '../../../style/helpers/variables';
@import '../../../style/helpers/mixins';

.triangle {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 1.41421;
  pointer-events: auto;
  &.giant {
    width: 70%;
  }
  &.medium {
    width: 5.5em;
    @media (min-width: $tablet-width) {
      width: 7em;
    }
  }
  &.small {
    width: 2em;
    @media (min-width: $tablet-width) {
      width: 2.75em;
    }
  }
  &.tiny {
    width: 1em;
  }
  &.white {
    fill: $white;
  }
  &.purple {
    fill: $purple;
  }
  &.orange {
    fill: $orange;
  }
  &.aqua {
    fill: $aqua;
  }
  &.yellow {
    fill: $yellow
  }
}
