@import '../../../style/helpers/variables';
@import '../../../style/helpers/mixins';

.grid-lines {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: $largest-site-width;
  > .grid-item-wrapper {
    display: inline-block;
    height: 100%;
    > .grid-line {
      height: 100%;
      border-left: 1px solid $dark-lines;
    }
  }
}
