html {
  font-size: 16px;
  box-sizing: border-box;
  @media screen and (min-width: $small-desktop-width) {
    font-size: 17px;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

p, h1, h2, h3, h4, h5, h6, div, input, form, span {
  font-family: $robo;
}

p,h1,h2,h3,h4,h5,h6,svg {
  opacity: 1;
}

// app

.error {
  color: red;
  animation: show-err $fast $easeInOut;
  animation-fill-mode: forwards;
}

@keyframes show-err {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
