@import '../../style/helpers/variables';
@import '../../style/helpers/mixins';

.contact {
  position: relative;
  margin-top: 45em;
  height: 32em;
  width: 100%;
  overflow: hidden;
  > .dot-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    > div[class*="dot-formation"] {
      position: absolute;
      &[class*="big"] {
        width: 1920px;
        left: 91.9%;
        transform: translateX(-100%);
      }
      &[class*="small"] {
        width: 8.52%;
        left: 96.05%;
      }
    }
  }
  > .contact-cta {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba($matte-black, 0.5);
    padding: 1em 4em;
    border-radius: 1px;
    text-align: center;
    transition: opacity $slow $easeInOut, transform $slow $easeInOut;
    &.hide {
      opacity: 0;
      transform: translate3d(-50%, calc(-45% + 2em), 0) skew(10deg, 10deg);
    }
    &.show {
      opacity: 1;
      transform: translate3d(-50%, -45%, 0) skew(0deg, 0deg);
    }
    > p {
      margin: 0;
      font-size: 4rem;
      color: $white;
    }
  }
}
