@import '../../style/helpers/variables';
@import '../../style/helpers/mixins';

.contact {
  overflow-x: hidden;
  margin-top: 45em;
  height: 45em;
  width: 100%;
  > .dot-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    > div[class*="dot-formation"] {
      position: absolute;
      &[class*="big"] {
        width: 1920px;
        left: 92%;
        transform: translateX(-100%);
      }
      &[class*="small"] {
        width: 8.52%;
        left: 96.05%;
      }
    }
  }
  > .contact-cta {

  }
}
