@import '../../style/helpers/variables';
@import '../../style/helpers/mixins';

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: $footer-height-m;
  width: 100%;
  background-color: $dark-lines;
  z-index: -1;
  @media (min-width: $tablet-width) {
    height: $footer-height;
  }
  > * {
    display: inline-block;
    margin-top: calc($(footer-height-m) - 4.5em);
    @media (min-width: $tablet-width) {
      margin-top: calc($(footer-height) - 3em);
    }
  }
  > [class*="social"] {
    width: 75%;
  }
  > .tri-wrapper {
    margin-left: 2.5em;
    margin-right: 2.5em;
    float: right;
    transition: transform $fast $easeInOut;
    @media (max-width: $tablet-width) {
      margin-top: 5em;
    }
    &:hover {
      cursor: pointer;
      transform: rotate(-45deg);
    }
  }
}
