@import '../../style/helpers/variables';
@import '../../style/helpers/mixins';

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: $footer-height;
  width: 100%;
  background-color: $dark-lines;
  z-index: -1;
  > * {
    display: inline-block;
    margin-top: calc($(footer-height) - 3em);
  }
  > .tri-wrapper {
    margin-left: 2.5em;
    margin-right: 2.5em;
    float: right;
    transition: transform $fast $easeInOut;
    &:hover {
      cursor: pointer;
      transform: rotate(-45deg);
    }
  }
}
