@import '../../../style/helpers/variables';
@import '../../../style/helpers/mixins';

.logo {
  fill: $white;
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-miterlimit: 3;
  stroke: $white;
  width: 5em;
  path {
    fill: inherit
  }
  .path-line {
    fill: none;
    stroke: inherit;
    stroke-width: 2.5px;
    /* stroke-linejoin: round; */
  }
  .path-triangle {
    fill: inherit;
    fill-rule: nonzero;
    transform: scale(0.735) translate(5px, 4.24px);
  }
}
