//if lt IE 8
  p.browserupgrade
    | You are using an
    strong outdated
    |  browser. Please
    a(href='http://browsehappy.com/') upgrade your browser
    |  to improve your experience.
//
  <noscript>
  <div class="no-script" style="position: absolute; left: 50%; top: 33%; transform: translate(-50%,-50%); width: 40em; height: 10em; background-color: #fff; padding: 2em; font-size: 1.2em">
  <p>You have turned off javascript or your browser does not support it.</p>
  </div>
  </noscript>

script.
  window.__PRELOADED_STATE__ = !{JSON.stringify(preloadedState)}
