@import '../../style/helpers/variables';
@import '../../style/helpers/mixins';

.about-me {
  position: relative;
  width: 84%;
  height: auto;
  margin: 0 auto 10em;
  @media (min-width: $tablet-width) {
    width: 50%;
    height: 52em;
    margin: 0 0 0 50%;
  }
  > [class*="heading"] {
    margin-left: 0;
  }
  > .dot-grid-a {
    position: absolute;
    top: 18em;
    left: -92%;
  }
  .content-box {
    padding: 2em 4em;
    background-color: $darker-black;
    > p {
      line-height: 1.87;
      font-size: 1.2rem;
      color: rgba($white, 0.65);
    }
  }
}
