@import '../../style/helpers/variables';
@import '../../style/helpers/mixins';

.home {
  position: relative;
  > .outter-wrapper {
    position: relative;
    margin-bottom: $footer-height;
    > .wrapper {
      padding: 0;
    }
  }
}
