@import '../../../style/helpers/variables';
@import '../../../style/helpers/mixins';

.btn {
  color: rgba($white, 0.87);
  &:hover {
    cursor: pointer;
  }
  > .inner-wrapper {
    p {
      margin: 0;
      padding: 0;
      text-align: center;
      color: inherit;
      text-transform: uppercase;
    }
  }
  &.line {
    position: relative;
    display: inline-block;
    max-width: 10em;
    width: 75%;
    overflow-x: hidden;
    @media (min-width: $tablet-width) {
      width: 100%;
    }
    @media (min-width: $small-desktop-width) {
      width: 75%;
    }
    > .inner-wrapper {
      width: 250%;
      transform: translate3d(-63%, 0, 0);
      > p {
        display: inline-block;
      }
      > .line {
        display: inline-block;
        width: 70%;
        height: 0.075em;
        background-color: rgba($white, 0.87);
        transform: translate3d(0, 0.01em, 0);
      }
    }
    &[class*="work"] {
      $color: $purple;
      > .inner-wrapper {
        color: $color;
        > .line {
          background-color: $color;
        }
      }
      &[class*="static"] {
        &[class*="stopped"] {
          > .inner-wrapper {
            transition: transform 1s ease-in-out $fast;
            > p {
              transform: translate3d(0, 0, 0);
              transition: transform $fast $easeInOut;
            }
            > .line {
              transform: translate3d(0, 0.01em, 0);
              transition: transform $fast $easeInOut;
            }
          }
          &:hover {
            > .inner-wrapper {
              cursor: pointer;
              > p {
                transform: translate3d(1em, 0, 0);
              }
              > .line {
                transform: translate3d(1em, 0.01em, 0);
              }
            }
          }
        }
        &[class*="not-stopped"] {
          /* $x: calc(100% + $(r-padding)); */
          > .inner-wrapper {
            transform: translate3d(50%, 0, 0);
            /* > p {
              transform: translate3d($x, 0, 0);
              transition: transform $fast $easeInOut;
            }
            > .line {
              width: 100%;
              transform: translate3d($x, 0, 0);
            } */
          }
        }
      }
      &[class*="parallax"] {
        &[class*="stopped"] {
          opacity: 1;
        }
        &[class*="not-stopped"] {
          opacity: 0;
          transition: opacity $fast $easeIn;
        }
      }
    }
    &:hover {
      > .inner-wrapper {
        > p {
          cursor: pointer;
          transform: translate3d(1em, 0, 0);
          transition: transform $fast $easeInOut;
        }
      }
    }
  }
  &.ridicularge-XL {
    padding: 1.5em 2em;
    font-size: 3rem;
    background-color: $black;
  }
}
