@import '../../style/helpers/variables';
@import '../../style/helpers/mixins';

.cavie-dots {
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  width: 50vw;
  height: 100vh;
  @media (min-width: $tablet-width) {
    display: block;
    &.show {
      display: grid;
    }
    &.hide {
      display: none;
    }
  }
  > .wrapper {
    position: relative;
    > .dots {
      position: absolute;
      left: 84.1%;
      bottom: 0;
      transform: translateX(-100%);
      &.hide {
        display: none;
      }
      > .dot {
        fill: $purple;
        transform: translateY(150%);
      }
    }
  }
}
