@import '../../style/helpers/variables';
@import '../../style/helpers/mixins';

.cavie-dots {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  > .wrapper {
    position: relative;
    > .dots {
      position: absolute;
      left: 84.1%;
      bottom: 0;
      transform: translateX(-100%);
      > .dot {
        fill: $purple;
        transform: translateY(150%);
      }
    }
  }
}
