@import '../../style/helpers/variables';
@import '../../style/helpers/mixins';

.cavie-dots {
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  width: 50vw;
  height: 100vh;
  @media (min-width: $tablet-width) {
    display: block;
    &.show {
      display: grid;
    }
    &.hide {
      display: none;
    }
  }
  > .wrapper {
    position: relative;
    > .dots {
      position: absolute;
      left: 84.1%;
      bottom: 10em;
      width: 50%;
      padding-bottom: 48%;
      transform: translateX(-100%);
      &.hide {
        display: none;
      }
      > .dot {
        position: absolute;
        fill: $purple;
        transform: translateY(150%);
        > rect {
          fill: inherit;
        }
      }
    }
  }
}
