@import '../../style/helpers/variables';
@import '../../style/helpers/mixins';

.home-header {
  position: relative;
  height: 100vh;
  > [class*="triangle"][class*="giant"] {
    @mixin grid-position 4, left;
    position: absolute;
    top: 2em;
    transform: translateX(-100%);
  }
  > .title-wrapper {
    margin: 0 0 0 $grid-s;
    padding-top: 10em;
    > .title {
      margin: 0 0 0.25em -0.08em;
      font-family: $futura;
      font-size: 6rem;
      font-weight: normal;
    }
    > .subtitle {
      margin: 0;
      font-size: 1rem;
      font-weight: normal;
      letter-spacing: 0.67em;
    }
  }
}
