@import '../../../style/helpers/variables';
@import '../../../style/helpers/mixins';

.dot-formation {
  position: relative;
  height: 45em;
  overflow-x: hidden;
  overflow-y: visible;
  > .dots {
    position: absolute;
    margin: 0 auto;
    > .dot {
      fill: $purple;
      opacity: 1;
      &.hide {
        opacity: 0;
      }
    }
  }
}
