@import '../../../style/helpers/variables';
@import '../../../style/helpers/mixins';

.text-embed {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(5px, 1fr) );
  grid-template-rows: 1fr;
  position: absolute;
  white-space: nowrap;
  > span {
    display: inline-block;
    color: $white;
    font-size: 1.2rem;
  }
  &.right {
    transform-origin: center left;
    transform: rotate(0deg)
  }
  &.up {
    transform-origin: calc(0% + 6px) calc(50% + 1px);
    transform: rotate(-90deg);
  }
  &.down {
    transform-origin: 3% 55%;
    transform: rotate(90deg);
  }
  &[class*="aws"] {
    transform-origin: 7% 55%;
  }
}
