@define-mixin super-center $left: 50%, $top: 50%, $x: -50%, $y: -50% {
  position: absolute;
  top: $top;
  left: $left;
  -webkit-transform: translate($x,$y);
  -ms-transform: translate($x,$y);
  transform: translate($x,$y);
}
