/******* Breakpoints *******/
$largest-site-width:    1920px;
$extra-large-width:     1600px;
$site-max-width:        1320px;
$desktop-odd-width:     1280px;
$small-desktop-width:   1024px;

/*******Animation*******/
$easeOut   : cubic-bezier(0.23, 1, 0.32, 1);
$easeIn    : cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeInOut : cubic-bezier(0.445, 0.05, 0.55, 0.95);
$logoIn: cubic-bezier(0.460, 0.000, 0.535, 1.000);
$logoOut: cubic-bezier(0.155, 0.425, 0.000, 0.900);
$slow:       750ms;
$moderate:   425ms;
$fast:       250ms;
$header-duration: 4200ms;
$header-delay: 4000ms;
/* $header-delay: 0s; */

/*******Fonts*******/
$futura: 'Futura', sans-serif;
$inconsolata: 'Inconsolata', 'serif';

/******* Grid Sizes *******/
$s: 8;
$m: 17;
$l: 34;
$grid-s: $(s)%;
$grid-m: $(m)%;
$grid-l: $(l)%;

/******* Sizes *******/
$toolbar-height: 4em;
$footer-height: 5em;

/******* Colors *******/
$white: #fff;
$off-white: rgb(245,245,245);
$black: rgb(40,40,40);
$dark-black: rgb(30, 30, 30);
$darker-black: rgb(17, 17, 17);
$matte-black: #000;
$darker-grey: #242424;
$dark-grey: rgb(57,57,57);
$grey: rgb(85, 85, 85);
$yellow: #F9D413;
$purple: #633DFF;
$orange: #F98D51;
$aqua: #32D2C9;

/******* Mode Colors *******/
$dark-bg: $dark-black;
$dark-lines: rgba($matte-black, 0.5);
$light-bg: $white;
$light-lines: rgba($matte-black, 0.1);
