/******* Breakpoints *******/
$largest-site-width:    1920px;
$extra-large-width:     1600px;
$site-max-width:        1320px;
$desktop-odd-width:     1280px;
$small-desktop-width:   1024px;

/*******Animation*******/
$easeOut   : cubic-bezier(0.23, 1, 0.32, 1);
$easeIn    : cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeInOut : cubic-bezier(0.445, 0.05, 0.55, 0.95);
$slow:       750ms;
$moderate:   425ms;
$fast:       250ms;
$header-duration: 4.2s;
$header-delay: 4s;
$header-delay: 0s;

/*******Fonts*******/
$futura: 'Futura', sans-serif;
$inconsolata: 'Inconsolata', 'serif';

/******* Sizes *******/
$grid-s: 8%;
$grid-m: 17%;
$grid-l: 34%;
$toolbar-height: 4em;

/******* Colors *******/
$white: #fff;
$off-white: rgb(245,245,245);
$black: rgb(40,40,40);
$matte-black: #000;
$dark-grey: #242424;
$yellow: #F9D413;
$purple: #633DFF;
$orange: #F98D51;
$aqua: #32D2C9;

/******* Theme Colors *******/
$dark-bg: #242424;
$dark-lines: rgba($matte-black, 0.45);
$light-bg: $white;
$light-lines: rgba($matte-black, 0.1);
