@import '../../style/helpers/variables';
@import '../../style/helpers/mixins';


.particle {
  position: absolute;
  &.triangle-a {
    @mixin grid-position 0, left, %, right;
    top: 6%;
  }
  &.triangle-b {
    @mixin grid-position 1, left, %, right;
    top: 37%;
  }
  &.triangle-c {
    @mixin grid-position 3, left, %, right;
    top: 55%;
  }
  &.triangle-d {
    @mixin grid-position 6, left, %, right;
    top: 64%;
  }
  &.triangle-e {
    @mixin grid-position 0, left, %, right;
    top: 80%;
  }
  &.triangle-f {
    @mixin grid-position 2, left, %, right;
    top: -10%;
  }
  &.triangle-g {
    @mixin grid-position 1, left, %, right;
    top: 100%;
  }
  &.triangle-h {
    @mixin grid-position 3, left, %, right;
    top: 110%;
  }
  &.dot-grid-a {
    top: -1%;
    left: 82%;
  }
  &.dot-grid-b {
    top: 78%;
    left: 79.3%;
  }
  &.dot-grid-c {
    top: 50%;
    left: 4%;
  }
}
