@import '../../style/helpers/variables';
@import '../../style/helpers/mixins';

.recent-work {
  position: relative;
  height: 193em;
  > .parent-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    > .work-items-wrapper {
      padding-left: calc($grid-s * 2);
    }
  }
  > .dot-grid-a {
    position: absolute;
    left: 1vw;
    top: 8em;
  }
}
