@import '../../style/helpers/variables';
@import '../../style/helpers/mixins';

.recent-work {
  height: 193em;
  > h3 {
    margin-bottom: 15em;
  }
  > .parent-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    > .work-items-wrapper {
      padding-left: calc($grid-s * 2);
    }
  }
}
