@import '../../style/helpers/variables';
@import '../../style/helpers/mixins';

.recent-work {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  padding-bottom: 30em;
  overflow: hidden;
  @media (min-width: $tablet-width) {
    height: 193em;
    margin: 0;
    overflow: visible;
  }
  > .parent-wrapper {
    display: block;
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    > .work-items-wrapper {
      padding: 0;
      @media (min-width: $tablet-width) {
        padding-left: calc($grid-s * 2);
      }
    }
  }
  > .dot-grid-a {
    position: absolute;
    left: 1vw;
    top: 8em;
  }
}
